.categories-header,
.search-header {
  font-size: 20px;
  font-weight: normal;

  margin: 0;

  color: #666;
}

ul.categories {
  display: block;

  li {
    .btn {
      font-family: "Source Sans Pro", sans-serif;
      line-height: 60px;

      width: 100%;
      padding: 0;

      cursor: pointer;
      text-align: left;

      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      background: #fff url("../img/chevron.svg") no-repeat;
      background-position: right 20px center;
    }

    &:first-child {
      .btn {
        border-top: 1px solid #ddd;
      }
    }

    i.category-icon {
      margin: 5px 10px;
    }
  }
}
