// mixins

@mixin vertical-gradient($from, $to) {
  background-color: $from;
  background-image: linear-gradient($from, $to);
}

@mixin gray-button {
  font-size: 20px;
  font-weight: bold;

  user-select: none;
  text-align: left;

  border: 1px solid #b8b8b8;
  border-radius: 4px;

  @include vertical-gradient(white, #ebebeb);

  &:active {
    border-color: darken(#b8b8b8, 8%);

    @include vertical-gradient(darken(#eee, 8%), darken(#d9d9d9, 8%));
  }

  &.active {
    border-color: darken(#b8b8b8, 8%);

    @include vertical-gradient(darken(#eee, 8%), darken(#d9d9d9, 8%));
  }
}

@mixin blue-button {
  font-size: 14px;
  font-weight: bold;

  width: $nav-button-width;
  height: 36px;

  user-select: none;

  color: white;
  border: 1px solid #0d2d39;
  border-radius: 6px;
  text-shadow: black 1px 1px;

  @include vertical-gradient(#358fb2, #19658c);


  &:active {
    @include vertical-gradient(darken(#358fb2, 10%), darken(#19658c, 10%));
  }

  &.left {
    position: relative;
    left: 5px;

    float: left;
  }

  &.right {
    position: relative;
    right: 5px;

    float: right;
  }
}

@mixin gray-rounded-button {
  font-size: 15px;

  padding: 8px 13px;

  user-select: none;

  color: #989898;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  background-color: #f3f3f3;

  &.left {
    position: relative;
    left: 5px;

    float: left;
  }

  &.right {
    position: relative;
    right: 5px;

    float: right;
  }

  &:active {
    border: none;
    border: 1px solid #cbcbcb;
    background-color: #e3e3e3;
  }

  &:focus {
    outline: 0;
  }
}

@mixin inset {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1px;
  padding: 14px;

  text-align: left;

  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
}

// mixin classes

.inset {
  @include inset;
}

.unselectable {
  user-select: none;
}

// resets

li {
  list-style-type: none;
}

// common classes

.title {
  font-size: 20px;
  font-weight: 400;

  margin: 0;

  text-align: center;

  color: #333;
}

.facility-services {
  font-size: 14px;

  text-transform: capitalize;

  color: #666;
}

.right {
  float: right;
}
.center {
  margin: 0 auto;

  text-align: center;
}

.open-hours {
  font-size: 14px;

  padding: 5px 10px;

  .label-hour {
    padding-right: 10px;
  }
}

#errorMessages {
  display: none;

  width: 327px;
  margin: 10px 0 20px 70px;
  padding-top: 10px;

  color: #c95f5f;
  border: 2px solid #c95f5f;
  border-radius: 4px;
  background-color: #f7d6d6;
}

.navbar {
  position: fixed;
  z-index: 20000000;
  top: 0;
  right: 0;
  left: 0;

  display: block;

  height: $navbar-height;
  margin-bottom: 2px;

  background: $red;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  .left,
  .right {
    float: left;

    width: 10%;
    height: 60px;
  }

  .center {
    float: left;

    width: 80%;
    height: 60px;

    h1 {
      font-size: 20px;
      font-weight: 400;
      line-height: 60px;

      margin: 0;

      text-align: center;

      color: #fff;
    }
  }

  .back {
    float: left;

    width: 60px;
    height: 60px;

    border: none;
    background: none;
  }
}

.icon-left-open.back {
  font-size: 14px;
  font-weight: lighter;

  margin: 0 1px 0 -5px;

  color: #dadada;
}

.card {
  margin: 4px;
  padding: 15px;

  background: $bg-white;
  box-shadow: 0 0 3px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.1);

  h1 {
    font-size: 14px;

    margin: 0 0 10px 0;

    text-transform: uppercase;

    color: $black;
  }

  hr {
    border: none;
    border-bottom: 1px solid $border-gray;
  }

  .action {
    line-height: 30px;

    display: block;

    text-decoration: none;

    color: inherit;

    label {
      font-weight: 600;

      float: right;

      text-transform: uppercase;

      color: $blue;
    }
  }
}

.map {
  padding: 1px;
}

.directions {
  font-weight: 600;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;

  color: $blue;
}

.cpr-icon {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;

  margin-right: 4px;
  padding: 0 4px;

  color: white;
  border-radius: 3px;
  background: $orange;
}
