// .container {
//   width: 95%;
//   min-width: 290px;
//   max-width: 700px;
//   margin: ($navbar-height + 10px) auto 0 auto;
//   padding-top: 5px;
// }

.container {
  font-size: 14px;
  line-height: 16px;

  margin-top: 70px;
}

.cpr {
  color: $orange;
  border-left: 2px solid $orange;
  background: $bg-orange;
}

.notes {
  padding: 8px;

  border-radius: 6px;
  background: #f3f3f3;
}

.facility-name {
  font-size: 24px;

  margin-top: 6px;
  padding: 2px 0;
}

.facility-info {
  font-size: 14px;

  p {
    margin: 0;
  }
  label {
    font-weight: bold;
  }
  a {
    display: block;

    width: 100%;
    height: 100%;

    text-decoration: none;

    color: inherit;
  }

  .service-title {
    margin-top: 0;
  }

  .title {
    margin: 12px 0 0 1px;
  }

  .service-title,
  .title {
    font-size: 18px;
    font-weight: normal;

    color: #666;
  }

  .icon-right-open {
    color: #909090;
  }

  .inset {
    @include inset;
  }

  .inset-gmap {
    margin: 20px 0 20px 0;
    padding: 0;

    border-radius: 6px;

    @include inset;

    p {
      padding: 8px 8px 8px 12px;
    }

    .destination {
      border-top: 1px solid #ddd;
    }

    &:active {
      background-color: #ddd;
    }
  }
  .inset-website {
    text-decoration: none;

    color: black;
    border-top: none;
    border-radius: 0;

    @include inset;
    span {
      display: inline-block;
      overflow: hidden;

      width: 50%;

      vertical-align: top;
      white-space: no-wrap;
           text-overflow: ellipsis;

      color: #777;

      -moz-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
    }
  }

  .contact-info div.inset-header:nth-of-type(1) {
    margin-top: 20px;

    border-radius: 6px 6px 0 0;
  }

  .inset-call {
    margin-top: -1px;
    margin-bottom: 0;

    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    @include inset;
    a {
      font-weight: bold;
    }
    &:active {
      background-color: #ddd;
    }
    span {
      color: #777;
    }
    &:first-of-type {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .call-info {
    margin-top: 5px;
    margin-left: 25px;

    color: #777;
  }

  .inset-directions {
    margin-top: -1px;

    cursor: pointer;

    border-top: none;
    border-radius: 0 0 6px 6px;

    @include inset;

    a {
      font-weight: bold;
    }
    label {
      cursor: pointer;
    }
    &:active {
      background-color: #ddd;
    }
  }

  .inset-services {
    margin-top: 12px;

    @include inset;
    label {
      line-height: 2;
    }
    p {
      line-height: 1.5;

      margin-bottom: 10px;
    }
  }

  .open-hours {
    font-size: 14px;

    margin-bottom: 10px;
    padding: 5px;
  }
}


#detail-gmap {
  height: 180px;
  padding: 1px;

  border-bottom: 1px solid #ddd;
}
