#index {
  .filter-name {
    margin: 10px 0 5px 0;
  }

  .search-input {
    width: 100%;
  }

  input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 30px;
    padding-left: 10px;

    border: 1px solid #e3e3e3;
    border-radius: 15px;
  }

  .header {
    padding-bottom: 20px;

    text-align: center;

    background: #fff;

    img {
      margin: 5% 0;
    }
  }
}
