.loader {
  width: 60px;
  height: 60px;
}

.facility-list {
  .not-found {
    margin: 20px 10px;
  }

  .facility {
    margin: 4px;

    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.1);


    a {
      display: flex;
      flex-direction: column;

      text-decoration: none;

      color: #000;

      .top,
      .bottom {
        display: flex;

        padding: 10px 15px;

        align-items: center;
        justify-content: space-between;
      }

      .top {
        border-bottom: 1px solid #eee;
      }

      .facility-name {
        font-size: 16px;

        margin: 0;
      }

      .label-status {
        font-size: 14px;

        color: #999;

        &.open,
        &.closed {
          font-weight: 600;

          text-transform: uppercase;
        }

        &.open {
          color: $green;
        }

        &.closed {
          color: $red;
        }
      }
    }

    p {
      margin: 4px 4px 4px 0;
    }

    .icon-right-open {
      color: #909090;
    }

    .facility-info {
      font-size: 13px;

      margin-top: 15px;
    }

    .facility-distance {
      margin: 4px 0;

      text-align: right;

      color: #c3c3c3;
    }

    .categories {
      display: inline-block;

      margin-bottom: 7px;
    }
  }
}

.sort-options {
  margin-left: 10px;
}

.open-options {
  margin-left: 10px;
}

.query-representation {
  width: 100%;
  max-width: 650px;
}

.query-representation-content {
  font-size: 15px;

  margin-top: 53px;
  padding: 10px 4px;

  color: #929292;
  border-bottom: 1px solid #dcdcdc;

  > .open {
    display: none;

    margin-left: 10px;
  }
  .ui-switch-labels a {
    color: #989898;
  }

  .more-options-td {
    display: inline-block;

    width: 32%;
  }

  .ui-switch.disabled {
    .ui-switch-handle {
      background-color: #f3f3f3;
    }
    .ui-switch-on,
    .ui-switch-off {
      background: transparent;
    }
  }
  .filter-option {
    display: inline-block;

    width: 32%;
    label {
      display: block;
    }
  }
  .second.filter-option {
    margin-left: 4px;
  }
}

.query-representation-content table {
  width: 100%;
}

.filter-toggle {
  padding: 5px 15px 15px 0;
}

.more-options .more-options-button {
  float: right;

  padding: 8px 14px;

  @include gray-rounded-button;
}

.list-header-item {
  opacity: .8;
}

#loading-spinner {
  display: none;

  height: 2000px;
  margin: 25px;
  margin-top: 85px;

  text-align: center;
}

#load-more {
  display: none;

  margin-bottom: 20px;
  padding: 20px;

  text-align: center;
  text-decoration: underline;

  .load-more-button {
    padding: 8px 25px;

    @include gray-rounded-button;
  }
}

.icon-down-open {
  color: #909090;
}

.right-info {
  margin-right: 10px;
}

.chevron {
  font-size: 15px;

  margin-right: 5px;
}
.gray {
  margin-left: 3px;

  color: #777;
}
