$background-color: #f8f8f8;
$navbar-height: 60px;
$nav-button-width: 75px;
$red: #b31212;
$green: #12b362;
$orange: #e6ac00;
$bg-orange: #fff5d9;
$bg-white: #fff;
$black: #262626;
$blue: #0099e6;
$border-gray: #eee;
