<div id="index">
  <div class="header">
    <img src="img/header-logo.svg" alt="" />
    <h1 class="title">What service are you looking for?</h1>
  </div>

  <form id="search-form">
    <input type="submit" style="display:none;">
    {{> filterCategories}}
  </form>
</div>
