// mixins

@mixin vertical-gradient($from, $to) {
  background-color: $from;
  background-image: linear-gradient($from, $to);
}

@mixin gray-button {
  font-size: 20px;
  font-weight: bold;

  user-select: none;
  text-align: left;

  border: 1px solid #b8b8b8;
  border-radius: 4px;

  @include vertical-gradient(white, #ebebeb);

  &:active {
    border-color: darken(#b8b8b8, 8%);

    @include vertical-gradient(darken(#eee, 8%), darken(#d9d9d9, 8%));
  }

  &.active {
    border-color: darken(#b8b8b8, 8%);

    @include vertical-gradient(darken(#eee, 8%), darken(#d9d9d9, 8%));
  }
}

@mixin blue-button {
  font-size: 14px;
  font-weight: bold;

  width: $nav-button-width;
  height: 36px;

  user-select: none;

  color: white;
  border: 1px solid #0d2d39;
  border-radius: 6px;
  text-shadow: black 1px 1px;

  @include vertical-gradient(#358fb2, #19658c);


  &:active {
    @include vertical-gradient(darken(#358fb2, 10%), darken(#19658c, 10%));
  }

  &.left {
    position: relative;
    left: 5px;

    float: left;
  }

  &.right {
    position: relative;
    right: 5px;

    float: right;
  }
}

@mixin gray-rounded-button {
  font-size: 15px;

  padding: 8px 13px;

  user-select: none;

  color: #989898;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  background-color: #f3f3f3;

  &.left {
    position: relative;
    left: 5px;

    float: left;
  }

  &.right {
    position: relative;
    right: 5px;

    float: right;
  }

  &:active {
    border: none;
    border: 1px solid #cbcbcb;
    background-color: #e3e3e3;
  }

  &:focus {
    outline: 0;
  }
}

@mixin inset {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1px;
  padding: 14px;

  text-align: left;

  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
}

// mixin classes

.inset {
  @include inset;
}

.unselectable {
  user-select: none;
}

// resets

li {
  list-style-type: none;
}

// common classes

.title {
  font-size: 20px;
  font-weight: 200;

  margin: 0;

  text-align: center;

  color: #333;
}

.facility-list {
  margin: 0;

  .facility {
    padding: 10px 0 10px 8px;

    border-bottom: solid #ddd 1px;

    .facility-item-link {
      display: flex;
      flex-direction: row;

      .facility-item-box-info {
        flex: 1 1 auto;
        order: 0;
      }

      .facility-item-box-caret {
        float: right;

        margin-top: -10px;

        align-self: center;
        flex: 0 0 auto;
        order: 1;

        .chevron {
          margin-top: 0;
        }
      }
    }
  }
}

.facility-services {
  font-size: 14px;

  text-transform: capitalize;

  color: #aba9a9;
}

.right {
  float: right;
}
.center {
  margin: 0 auto;

  text-align: center;
}

.open-hours {
  font-size: 14px;

  padding: 5px 10px;

  .label-hour {
    padding-right: 10px;
  }
}

#errorMessages {
  display: none;

  width: 327px;
  margin: 10px 0 20px 70px;
  padding-top: 10px;

  color: #c95f5f;
  border: 2px solid #c95f5f;
  border-radius: 4px;
  background-color: #f7d6d6;
}

// Icons
.icon-desktop {
  color: #cbaa4b;
}
.icon-droplet {
  color: #7e7485;
}
.icon-food {
  color: #9ea861;
}
.icon-home {
  color: #62919c;
}
.icon-plus {
  color: #a97a60;
}

.icon-left-open.back {
  font-size: 14px;
  font-weight: lighter;

  margin: 0 1px 0 -5px;

  color: #dadada;
}
