.header {
  align-items: stretch;
  border-bottom: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.navTopSpace {
  height: 20px;
}

.navContent {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.backContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  flex: 1;
  margin: 10px 0;
  text-align: center;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.back {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.backArrow {
  width: 13px;
  height: 22px;
  stroke: #fff;
  stroke-width: 3px;
}

.backText {
  padding: 0 13.3px;
}

.filter {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.currentUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.currentUserDetails {
  float: left;
}

.logout {
  float: right;
}

.banner {
  background: #9a1104;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
}
