name: repo-checks

on: [push]

jobs:
  main:
    name: node_js
    runs-on: ubuntu-latest
    steps:
    - uses: zendesk/checkout@v2
    - uses: zendesk/setup-node@v2.0.0
      with:
        node-version: '6'
    - name: test
      run: npm i && npm test

