@import "shared/css/variables.scss";
@import "shared/css/common.scss";
@import "vendor/css/normalize.min.scss";
@import "vendor/css/icons.scss";
@import "vendor/css/bootstrap.min.scss";

@import "admin/css/list.scss";

#linksf {
  padding-top: $navbar-height;
}

.navbar #search-form ul.nav li.search-input {
  line-height: 40px;

  input {
    margin-bottom: 0;
  }
}

.facility-list {
  padding-top: 10px;

  .not-found {
    margin: 10px;
  }
}

#facilityForm {
  .hours .dayError,
  .address-preview.error {
    color: red;
  }
}

.service-edit-row {
  margin: 0 20px 20px 0;
  padding: 10px;

  border-width: 1px;
  border-style: solid;
  border-color: #ddd;

  .hours {
    .day {
      margin-right: 10px;
    }

    .label-hour {
      padding-right: 10px;

      text-align: right;
    }

    #preview_label {
      vertical-align: top;
    }
  }
}

.service-edit-row div {
  margin: 5px;
}

.service-edit-row label {
  font-color: #333;
}

#login {
  margin-top: 20px;
}

#loginError {
  display: none;
}

#delete_facility {
  color: #fff;
  background-color: #52000a;
}
.clear {
  clear: both;
}
